" IdeaVim commands:
" :actionlist [pattern]
" :action [name]
"
" see https://github.com/JetBrains/ideavim for more information

noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>
noremap <C-f> <NOP>
noremap <C-b> <NOP>
set clipboard=unnamedplus
set visualbell
set noerrorbells

nmap <C-h> :action PreviousTab<CR>
nmap <C-l> :action NextTab<CR>
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap / :action Find<CR>

let mapleader = ","
nmap <Leader><Leader> :e ~/.ideavimrc<CR>
nmap <Leader>s :so ~/.ideavimrc<CR>
nmap <Leader>d :action GotoDeclaration<CR>
nmap <Leader>i :action GotoImplementation<CR>
nmap <Leader>q :action QuickJavaDoc<CR>
nmap <Leader>u :action FindUsages<CR>
nmap <Leader>r :action RenameElement<CR>
nmap <Leader>t :action Run<CR>
map <Leader>c :action CommentByLineComment<CR>
nmap <Leader>f :action SelectInProjectView<CR>
nmap <Leader>a :action Annotate<CR>
nmap <Leader>p :action VcsShowPrevChangeMarker<CR>
nmap <Leader>n :action VcsShowNextChangeMarker<CR>
nmap <Leader>b :action Vcs.RollbackChangedLines<CR>
nmap <Leader>g :action GoImportsFileAction<CR>
nmap <Leader>l :action Javascript.Linters.EsLint.Fix<CR>
nmap <Leader>yy :action CopyFileReference<CR>
nmap <Leader>yl :action CopyReference<CR>
