noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>
noremap <C-f> <NOP>
noremap <C-b> <NOP>
set clipboard=unnamedplus

let mapleader = ","
nmap <Leader><Leader> :e ~/.ideavimrc<CR>
nmap <Leader>s :so ~/.ideavimrc<CR>
nmap <Leader>d :action GotoDeclaration<CR>
nmap <Leader>i :action GotoImplementation<CR>
nmap <Leader>q :action QuickJavaDoc<CR>
nmap <Leader>u :action FindUsages<CR>
nmap <Leader>t :action Run<CR>
nmap <Leader>c :action CommentByLineComment<CR>
nmap <C-h> :action PreviousTab<CR>
nmap <C-l> :action NextTab<CR>
nmap / :action Find<CR>

autocmd FileType go nmap <Leader>g :action GoImportsFileAction<CR>
